In [ ]:
import csv
import pandas as pd
import numpy as np

## Overview
Now that we have our .csv, we are ready to import it into our Jupyter Notebook as a Pandas dataframe and complete some clean up.

***Clean Up***
Some of the cells in our dataframe had collections, so we extended those into new rows.  We also updated all the datatypes into a common value so we could make comparisons and calculations.  We identified Null values and either deleted them or we updated them.

We experienced a challenge in this section.  We exported our dataframe from the scrapping and API notebook into a primitive version of .csv without using Pickles.  All of the collections in the genre and production company columns were turned into strings instead of lists and dictionaries.  We had to figure out how to extract the data we needed from strings instead of from dictionaries, which was a big time waster - although excellent practice with strings!

In [22]:
master_df = pd.read_csv('clean_master_movie_mod1.csv')
master_df = master_df.drop('Unnamed: 0',axis=1)
# Importing and converting CSV to data frame
# dropping extra column with no values

In [23]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
rank                        1000 non-null object
title                       1000 non-null object
worldwide_lifetime_gross    1000 non-null object
domestic_lifetime_gross     1000 non-null object
domestic_per                1000 non-null object
foreign_lifetime_gross      1000 non-null object
foreign_per                 1000 non-null object
year                        1000 non-null int64
imdb_id                     1000 non-null object
belongs_to_collection       518 non-null object
budget                      996 non-null float64
genres                      996 non-null object
original_language           996 non-null object
popularity                  996 non-null float64
production_companies        996 non-null object
production_countries        996 non-null object
release_date                996 non-null object
runtime                     996 non-null float64
dtypes: float64(3), int64(1), object(14)
memory usage: 140.8+ KB

In [24]:
master_df = master_df[master_df['budget'].notna()]
master_df.info()
# cleaning data frame by dropping 4 movies that have nan values and are not english language productions

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 18 columns):
rank                        996 non-null object
title                       996 non-null object
worldwide_lifetime_gross    996 non-null object
domestic_lifetime_gross     996 non-null object
domestic_per                996 non-null object
foreign_lifetime_gross      996 non-null object
foreign_per                 996 non-null object
year                        996 non-null int64
imdb_id                     996 non-null object
belongs_to_collection       518 non-null object
budget                      996 non-null float64
genres                      996 non-null object
original_language           996 non-null object
popularity                  996 non-null float64
production_companies        996 non-null object
production_countries        996 non-null object
release_date                996 non-null object
runtime                     996 non-null float64
dtypes: float64(3), int64(1), object(14)
memory usage: 147.8+ KB

In [25]:
master_df['belongs_to_collection'] = master_df['belongs_to_collection'].fillna('0')
master_df.head()

#Data cleaning - filling in NAN values in column 'belongs_to_collection' with 0 values

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,38.570,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,2,Avatar,"$2,790,439,000","$760,507,625",27.2%,"$2,029,931,375",72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,29.738,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,3,Titanic,"$2,194,439,542","$659,363,944",30%,"$1,535,075,598",70%,1997,tt0120338,0,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,26.449,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,4,Star Wars: Episode VII - The Force Awakens,"$2,068,223,624","$936,662,225",45.3%,"$1,131,561,399",54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,28.812,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,84.768,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0

In [26]:
master_df['worldwide_lifetime_gross'] = master_df['worldwide_lifetime_gross'].map(lambda x: x.lstrip('$').replace(',',''))
master_df['domestic_lifetime_gross'] = master_df['domestic_lifetime_gross'].map(lambda x: x.lstrip('$').replace(',',''))
master_df['foreign_lifetime_gross'] = master_df['foreign_lifetime_gross'].map(lambda x: x.lstrip('$').replace(',',''))

# dropping $ & , from column values in worldwide_lifetime_gross, domestic_lifetime_gross and foreign_lifetime_gross

In [27]:
master_df.head()

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,1,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,38.570,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,2,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,29.738,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,3,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,0,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,26.449,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,4,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,28.812,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,5,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,84.768,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0

In [28]:
master_df['worldwide_lifetime_gross'] = pd.to_numeric(master_df['worldwide_lifetime_gross'])
master_df['domestic_lifetime_gross'] = pd.to_numeric(master_df['domestic_lifetime_gross'])
master_df['foreign_lifetime_gross'] = pd.to_numeric(master_df['foreign_lifetime_gross'])
master_df['budget'] = master_df['budget'].astype(int)

master_df.info()

# Converting datatypes in above columns to numeric and int

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 18 columns):
rank                        996 non-null object
title                       996 non-null object
worldwide_lifetime_gross    996 non-null int64
domestic_lifetime_gross     996 non-null int64
domestic_per                996 non-null object
foreign_lifetime_gross      996 non-null int64
foreign_per                 996 non-null object
year                        996 non-null int64
imdb_id                     996 non-null object
belongs_to_collection       996 non-null object
budget                      996 non-null int64
genres                      996 non-null object
original_language           996 non-null object
popularity                  996 non-null float64
production_companies        996 non-null object
production_countries        996 non-null object
release_date                996 non-null object
runtime                     996 non-null float64
dtypes: float64(2), int64(5), object(11)
memory usage: 147.8+ KB

In [29]:
master_df.head()

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,1,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,38.570,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,2,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,29.738,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,3,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,0,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,26.449,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,4,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,28.812,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,5,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,84.768,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0

In [30]:
master_df['belongs_to_collection'] = master_df['belongs_to_collection'].replace('0', "None: 0")
master_df['collection_id'] = master_df['belongs_to_collection'].map(lambda x: x.split()[1])
master_df['collection_id'] = master_df['collection_id'].str.replace(',', '')

master_df.head()

# first converted str'0' to "None: 0", then split to find collection ids and put them into a new column collection_id post cleaning

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,collection_id
0,1,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,38.570,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0,86311
1,2,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,29.738,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0,87096
2,3,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,None: 0,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,26.449,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0,0
3,4,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,28.812,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0,10
4,5,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,84.768,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0,86311

In [31]:
master_df['genres_clean'] = master_df['genres'].map(lambda x: x.split()[3]).str.replace('},', '')
master_df['genres_clean'].head()

# creating new column 'genres_clean' taking primary genre from string of genres

0    'Adventure'
1       'Action'
2        'Drama'
3       'Action'
4    'Adventure'
Name: genres_clean, dtype: object

In [32]:
master_df['genres_clean'] = master_df['genres_clean'].str.replace('}]', '')
master_df['genres_clean'].value_counts()

# checking value_counts to ensure no duplicates etc

'Action'         256
'Adventure'      167
'Comedy'         154
'Drama'          120
'Animation'       77
'Fantasy'         45
'Thriller'        34
'Science          31
'Horror'          27
'Crime'           23
'Romance'         17
'Family'          17
'Mystery'         11
'War'              6
'History'          6
'Music'            3
'Documentary'      1
'Western'          1
Name: genres_clean, dtype: int64

In [33]:
master_df.head()

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,collection_id,genres_clean
0,1,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,38.570,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0,86311,'Adventure'
1,2,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,29.738,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0,87096,'Action'
2,3,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,None: 0,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,26.449,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0,0,'Drama'
3,4,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,28.812,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0,10,'Action'
4,5,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,84.768,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0,86311,'Adventure'

In [34]:
master_df = master_df.drop('belongs_to_collection', axis = 1)

# dropping column 'belongs_to_collection' since we have collection_ids in a new column now

In [35]:
master_df['production_companies'] = master_df['production_companies'].map(lambda x: x.split())

# converting strings in column into a new column with names of production companies

In [36]:
prod_comp = []
for ele in master_df['production_companies']:
    if ele[0] == '[]':
        continue
    else:
        prod_comp.append(ele[5:7])
prod_comp

# using for & if statements to coerce a list out of strings

[["'Marvel", "Studios',"],
 ["'Dune", "Entertainment',"],
 ["'Paramount',", "'origin_country':"],
 ["'Truenorth", "Productions',"],
 ["'Marvel", "Studios',"],
 ["'Fuji", 'Television'],
 ["'Walt", 'Disney'],
 ["'Marvel", "Studios',"],
 ["'Abu", 'Dhabi'],
 ["'Walt", 'Disney'],
 ["'Marvel", "Studios',"],
 ["'Marvel", "Studios',"],
 ["'Warner", 'Bros.'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Amblin", "Entertainment',"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Universal", "Pictures',"],
 ["'Marvel", "Studios',"],
 ["'Illumination", "Entertainment',"],
 ["'Marvel", "Studios',"],
 ["'DC", "Comics',"],
 ["'New", 'Line'],
 ["'Marvel", "Studios',"],
 ["'Marvel", "Studios',"],
 ["'Hasbro", "Studios',"],
 ["'Danjaq',", "'origin_country':"],
 ["'Hasbro", "Studios',"],
 ["'Syncopy',", "'origin_country':"],
 ["'DC", "Entertainment',"],
 ["'Walt", 'Disney'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Pixar',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Universal", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Pixar',", "'origin_country':"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Warner", 'Bros.'],
 ["'DC", "Comics',"],
 ["'Warner", 'Bros.'],
 ["'Warner", 'Bros.'],
 ["'Illumination", "Entertainment',"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Radar", "Pictures',"],
 ["'Jerry", 'Bruckheimer'],
 ["'Warner", 'Bros.'],
 ["'Warner", 'Bros.'],
 ["'New", 'Line'],
 ["'Warner", 'Bros.'],
 ["'Pixar',", "'origin_country':"],
 ["'Warner", 'Bros.'],
 ["'DreamWorks", "Animation',"],
 ["'GK", "Films',"],
 ["'Patalex", 'IV'],
 ["'Marvel", "Enterprises',"],
 ["'New", 'Line'],
 ["'Blue", 'Sky'],
 ["'Danjaq',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'1492", "Pictures',"],
 ["'Blue", 'Sky'],
 ["'Universal", "Pictures',"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'Spring", 'Era'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Lionsgate',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'Pixar',", "'origin_country':"],
 ["'Avi", 'Arad'],
 ["'Marvel", "Studios',"],
 ["'Hasbro", "Studios',"],
 ["'Legendary", "Entertainment',"],
 ["'Sunswept", "Entertainment',"],
 ["'Marvel", "Enterprises',"],
 ["'Dune", "Entertainment',"],
 ["'Centropolis", "Entertainment',"],
 ["'Heyday", "Films',"],
 ["'DreamWorks", "Animation',"],
 ["'Pixar',", "'origin_country':"],
 ["'1492", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Universal", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Marvel", "Entertainment',"],
 ["'Marvel", "Entertainment',"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'Imagine", "Entertainment',"],
 ["'Chris", 'Morgan'],
 ["'Walt", 'Disney'],
 ["'Columbia", "Pictures',"],
 ["'Lionsgate',", "'origin_country':"],
 ["'DreamWorks", "Animation',"],
 ["'DreamWorks", "Animation',"],
 ["'DC", "Entertainment',"],
 ["'Revolution", 'Sun'],
 ["'Walt", 'Disney'],
 ["'Pixar',", "'origin_country':"],
 ["'Heineken", 'Branded'],
 ["'Pixar',", "'origin_country':"],
 ["'Esperanto", "Filmoj',"],
 ["'Marvel", "Studios',"],
 ["'Zohar", "International',"],
 ["'Summit", "Entertainment',"],
 ["'TSG", "Entertainment',"],
 ["'Hasbro", "Studios',"],
 ["'Marvel", "Entertainment',"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'China", 'Film'],
 ["'Sunswept", "Entertainment',"],
 ["'Paramount',", "'origin_country':"],
 ["'Lionsgate',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Paramount',", "'origin_country':"],
 ["'Paramount',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'Legendary", "Entertainment',"],
 ["'Spyglass", "Entertainment',"],
 ["'Legendary", "Entertainment',"],
 ["'20th", 'Century'],
 ["'DreamWorks", "Animation',"],
 ["'Studio", "Babelsberg',"],
 ["'DC", "Comics',"],
 ["'Walt", 'Disney'],
 ["'Warner", 'Bros.'],
 ["'Jerry", 'Bruckheimer'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'Illumination", "Entertainment',"],
 ["'Pixar',", "'origin_country':"],
 ["'DreamWorks", "Animation',"],
 ["'Pixar',", "'origin_country':"],
 ["'Scott", 'Free'],
 ["'GH", "Three',"],
 ["'Original", "Film',"],
 ["'Amblin", "Entertainment',"],
 ["'Marvel", "Studios',"],
 ["'Pixar',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'DreamWorks", "Animation',"],
 ['"The', "Donners'"],
 ["'Universal", "Pictures',"],
 ["'Babelsberg", "Film',"],
 ["'Icon", "Productions',"],
 ["'Littlestar',", "'origin_country':"],
 ["'Fox", '2000'],
 ["'Tom", 'DeSanto/Don'],
 ["'DreamWorks", "Animation',"],
 ["'Paramount',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Eon", "Productions',"],
 ["'Parkes+MacDonald", 'Image'],
 ["'DreamWorks", "Animation',"],
 ["'Legendary", "Entertainment',"],
 ["'Village", 'Roadshow'],
 ["'Marvel", "Studios',"],
 ["'Amblin", "Entertainment',"],
 ["'Bona", 'Film'],
 ["'1492", "Pictures',"],
 ["'Focus", "Features',"],
 ["'Legendary", "Entertainment',"],
 ["'Sony", 'Pictures'],
 ["'Universal", "Pictures',"],
 ["'Pixar',", "'origin_country':"],
 ["'DreamWorks", "Animation',"],
 ["'China", 'Film'],
 ["'Touchstone", "Pictures',"],
 ['"Mel\'s', 'Cite'],
 ["'Universal", "Pictures',"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'Paramount',", "'origin_country':"],
 ["'Wanda", "Pictures',"],
 ['"The', "Donners'"],
 ["'Village", 'Roadshow'],
 ["'Illumination", "Entertainment',"],
 ["'Walt", 'Disney'],
 ["'Pacific", 'Data'],
 ["'GK", "Films',"],
 ["'Pixar',", "'origin_country':"],
 ["'AKOM", 'Production'],
 ["'Monarchy", 'Enterprises'],
 ["'Apelles", "Entertainment',"],
 ["'Walt", 'Disney'],
 ["'Columbia", "Pictures',"],
 ["'DreamWorks", "Animation',"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'Village", 'Roadshow'],
 ["'Universal", "Pictures',"],
 ["'DreamWorks", "Animation',"],
 ["'Pixar',", "'origin_country':"],
 ["'Pearl", "Studio',"],
 ["'T2", "Productions',"],
 ["'Marvel", "Studios',"],
 ["'Universal", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Blue", 'Sky'],
 ["'Radiant", "Productions',"],
 ["'Pixar',", "'origin_country':"],
 ["'DreamWorks", "Animation',"],
 ["'Constant", 'c'],
 ["'Roth", "Films',"],
 ["'The", 'Zanuck'],
 ["'Walt", 'Disney'],
 ["'TSG", "Entertainment',"],
 ["'Epsilon", 'Motion'],
 ["'Columbia", "Pictures',"],
 ["'Nickelodeon", "Movies',"],
 ["'Pit", 'Bull'],
 ["'DreamWorks", "Animation',"],
 ["'Blue", 'Sky'],
 ["'Paramount',", "'origin_country':"],
 ["'Dune", 'Entertainment'],
 ["'Hughes", "Entertainment',"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Village", 'Roadshow'],
 ["'Sony", "Pictures',"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'New", 'Line'],
 ["'Lin", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Zanuck/Brown", "Productions',"],
 ["'Legendary", "Entertainment',"],
 ["'Lin", "Pictures',"],
 ["'Hasbro',", "'origin_country':"],
 ["'Bad", "Robot',"],
 ["'Village", 'Roadshow'],
 ["'Touchstone", "Pictures',"],
 ["'Pixar',", "'origin_country':"],
 ["'Universal", "Pictures',"],
 ["'Marvel", "Enterprises',"],
 ["'Walt", 'Disney'],
 ["'EuropaCorp',", "'origin_country':"],
 ["'Paramount',", "'origin_country':"],
 ["'Virtual", "Studios',"],
 ["'Cruise/Wagner", "Productions',"],
 ["'Huanxi", 'Media'],
 ["'WV", 'Films'],
 ["'Marvel", "Studios',"],
 ["'Jerry", 'Bruckheimer'],
 ["'Walt", 'Disney'],
 ["'Summit", "Entertainment',"],
 ["'Parkes+MacDonald", 'Image'],
 ["'Universal", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Fox", '2000'],
 ["'Working", 'Title'],
 ["'Hoya", "Productions',"],
 ["'Blue", "Wolf',"],
 ["'Skydance", "Media',"],
 ["'Walt", 'Disney'],
 ["'Legendary", "Entertainment',"],
 ["'Thunder", "Road',"],
 ["'Chernin", "Entertainment',"],
 ["'Columbia", "Pictures',"],
 ["'Legendary", "Entertainment',"],
 ["'Eon", "Productions',"],
 ["'Universal", "Pictures',"],
 ["'Playtone',", "'origin_country':"],
 ["'Wrigley", "Pictures',"],
 ["'The", 'Weinstein'],
 ["'Silver", "Pictures',"],
 ["'Gaumont',", "'origin_country':"],
 ["'The", 'Weinstein'],
 ["'Tig", "Productions',"],
 ["'Walt", 'Disney'],
 ["'Darren", 'Star'],
 ["'Universal", "Pictures',"],
 ["'Walden", "Media',"],
 ["'The", 'Kennedy/Marshall'],
 ['"The', "Donners'"],
 ["'TSG", "Entertainment',"],
 ["'21", 'Laps'],
 ["'PolyGram", 'Filmed'],
 ["'Kasdan", "Pictures',"],
 ["'Double", 'Dare'],
 ["'TSG", "Entertainment',"],
 ["'Secret", "Hideout',"],
 ["'Blue", 'Sky'],
 ["'Twilight", "Productions',"],
 ["'Touchstone", "Pictures',"],
 ["'XM2", "Productions',"],
 ["'Columbia", "Pictures',"],
 ["'Troublemaker", "Studios',"],
 ["'Pixar',", "'origin_country':"],
 ["'Universal", "Pictures',"],
 ["'Dune", "Entertainment',"],
 ["'Selznick", 'International'],
 ["'Revolution", 'Sun'],
 ["'Studio", "Babelsberg',"],
 ["'Paramount',", "'origin_country':"],
 ["'Universal", "Pictures',"],
 ["'Legendary", "Entertainment',"],
 ["'Lucasfilm',", "'origin_country':"],
 ["'EMJAG", "Productions',"],
 ["'DC", "Comics',"],
 ["'Morgan", 'Creek'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Centropolis", "Entertainment',"],
 ["'U-Drive", "Productions',"],
 ["'Dune", "Entertainment',"],
 ["'Edko", "Films',"],
 ["'Legendary", "Entertainment',"],
 ["'DreamWorks", "Animation',"],
 ["'Paramount',", "'origin_country':"],
 ["'Kennedy", 'Miller'],
 ["'Pixar',", "'origin_country':"],
 ["'Blue", 'Sky'],
 ["'Universal", "Pictures',"],
 ["'DreamWorks", "Animation',"],
 ["'Toho", 'Company,'],
 ["'Lightstorm", "Entertainment',"],
 ["'Celador", "Films',"],
 ["'EuropaCorp',", "'origin_country':"],
 ["'Paramount',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Village", 'Roadshow'],
 ["'DreamWorks", "Animation',"],
 ["'Heyday", "Films',"],
 ["'Centropolis", "Entertainment',"],
 ["'Paramount',", "'origin_country':"],
 ["'DreamWorks", "Animation',"],
 ["'DC", "Comics',"],
 ["'Marvel", "Entertainment',"],
 ["'Depth", 'of'],
 ["'Universal", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'Marvel", "Studios',"],
 ["'RatPac-Dune", "Entertainment',"],
 ["'20th", 'Century'],
 ["'Regency", "Enterprises',"],
 ["'Warner", 'Bros.'],
 ["'Amblin", "Entertainment',"],
 ["'Ontario", 'Film'],
 ["'Cinergi", 'Pictures'],
 ["'DC", "Entertainment',"],
 ["'New", 'Line'],
 ["'Fox", '2000'],
 ["'Hughes", "Entertainment',"],
 ["'Notting", 'Hill'],
 ["'Pixar',", "'origin_country':"],
 ["'Moving", 'Picture'],
 ["'Village", 'Roadshow'],
 ["'Neal", 'Street'],
 ["'Tim", 'Burton'],
 ["'Green", 'Hat'],
 ["'Eon", "Productions',"],
 ["'Edko", "Films',"],
 ["'Dentsu',", "'origin_country':"],
 ["'Disruption", "Entertainment',"],
 ["'Jerry", 'Weintraub'],
 ["'CoMix", 'Wave'],
 ["'Columbia", "Pictures',"],
 ["'Digital", 'Image'],
 ["'Paramount',", "'origin_country':"],
 ["'Village", 'Roadshow'],
 ["'Jinks/Cohen", "Company',"],
 ["'Imagine", "Entertainment',"],
 ["'United", "Artists',"],
 ["'Spectrum", "Films',"],
 ["'Tim", 'Burton'],
 ["'Mediastream", 'Vierte'],
 ["'Carolco", "Pictures',"],
 ["'The", 'Mark'],
 ["'Ingenious", "Media',"],
 ["'Columbia", "Pictures',"],
 ["'Eon", "Productions',"],
 ["'Parkes/MacDonald", "Productions',"],
 ["'Summit", "Entertainment',"],
 ["'Dino", 'De'],
 ["'Dark", 'Horse'],
 ["'Columbia", "Pictures',"],
 ["'20th", 'Century'],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Paramount',", "'origin_country':"],
 ["'Universal", "Pictures',"],
 ["'Ingenious", "Media',"],
 ["'Studio", "Ghibli',"],
 ["'NeoReel',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'New", 'Line'],
 ["'DreamWorks", "Animation',"],
 ["'Rox", "Productions',"],
 ["'Walt", 'Disney'],
 ["'Universal", "Pictures',"],
 ["'Skydance", "Media',"],
 ["'Fox", '2000'],
 ["'Kickstart',", "'origin_country':"],
 ["'Hanna-Barbera", "Productions',"],
 ["'Sunday", "Night',"],
 ["'Walt", 'Disney'],
 ["'DreamWorks", "Animation',"],
 ["'Legendary", "Entertainment',"],
 ["'DC", "Comics',"],
 ["'Walt", 'Disney'],
 ["'U-Drive", "Productions',"],
 ["'Paramount',", "'origin_country':"],
 ["'Walden", "Media',"],
 ["'Don", 'Simpson/Jerry'],
 ["'Legendary", "Entertainment',"],
 ["'Summit", "Entertainment',"],
 ["'Kumar", 'Mobiliengesellschaft'],
 ["'Lucasfilm',", "'origin_country':"],
 ["'Eon", "Productions',"],
 ["'Pixar',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Tribeca", "Productions',"],
 ["'Amblin", "Entertainment',"],
 ["'Participant", "Media',"],
 ["'Dune", "Entertainment',"],
 ["'Baltimore", 'Spring'],
 ["'Paramount',", "'origin_country':"],
 ["'Fox", '2000'],
 ["'Juno", "Pix',"],
 ["'Summit", "Entertainment',"],
 ["'EuropaCorp',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'Paramount", "Animation',"],
 ["'Universal", "Pictures',"],
 ["'DreamWorks", "Animation',"],
 ["'St.", 'Petersburg'],
 ["'Lakeshore", "Entertainment',"],
 ["'Scott", 'Free'],
 ["'The", 'Weinstein'],
 ["'Great", 'Oaks'],
 ["'New", 'Line'],
 ["'Paramount',", "'origin_country':"],
 ["'Paramount',", "'origin_country':"],
 ["'Evergreen", 'Media'],
 ["'Kurtzman/Orci',", "'origin_country':"],
 ["'Universal", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Radiant", "Productions',"],
 ["'Nu", "Image',"],
 ["'Walt", 'Disney'],
 ["'Gracie", "Films',"],
 ["'Golden", "Mean',"],
 ["'Temple", 'Hill'],
 ["'Screen", "Gems',"],
 ["'New", 'Line'],
 ["'Lin", "Pictures',"],
 ["'Section", "Eight',"],
 ["'Universal", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Touchstone", "Pictures',"],
 ["'Lakeshore", "Entertainment',"],
 ["'Alcon", "Entertainment',"],
 ["'Lionsgate',", "'origin_country':"],
 ["'Huayi", "Brothers',"],
 ["'TSG", "Entertainment',"],
 ["'Escape", "Artists',"],
 ["'DreamWorks", "Animation',"],
 ["'Julia", 'Phillips'],
 ["'Miramax',", "'origin_country':"],
 ["'Atomic", "Monster',"],
 ["'Lionsgate',", "'origin_country':"],
 ["'Flynn", 'Picture'],
 ["'Mid", 'Atlantic'],
 ["'Walt", 'Disney'],
 ["'Aamir", 'Khan'],
 ["'Wanda", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Thunder", "Road',"],
 ["'1492", "Pictures',"],
 ["'Amblin", "Entertainment',"],
 ["'Winkler", "Films',"],
 ["'Dovemead", "Films',"],
 ["'TriStar", "Pictures',"],
 ["'Screen", "Gems',"],
 ["'Universal", "Pictures',"],
 ["'Global", 'Medien'],
 ["'Eddie", 'Murphy'],
 ["'Legend3D',", "'origin_country':"],
 ["'TriStar", "Pictures',"],
 ["'Wardour", 'Street'],
 ["'Blue", 'Sky'],
 ["'Village", 'Roadshow'],
 ["'Summit", "Entertainment',"],
 ["'Management", 'Company'],
 ['"Eric\'s', 'Boy",'],
 ["'Big", 'Screen'],
 ["'Marvel", "Enterprises',"],
 ["'Blue", 'Sky'],
 ["'Delphi", "Films',"],
 ["'Appian", "Way',"],
 ["'Joseph", 'M.'],
 ["'Columbus", '81'],
 ["'Wintergreen", "Productions',"],
 ["'Walt", 'Disney'],
 ["'Vertigo", "Entertainment',"],
 ["'ImageMovers',", "'origin_country':"],
 ["'Legendary", "Entertainment',"],
 ["'Universal", "Pictures',"],
 ["'Village", 'Roadshow'],
 ["'Universal", "Pictures',"],
 ["'Summit", "Entertainment',"],
 ["'Eddie", 'Murphy'],
 ["'Avery", "Pix',"],
 ["'Apatow", "Productions',"],
 ["'Gotham", "Group',"],
 ["'The", 'Harvey'],
 ["'Universal", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Castle", 'Rock'],
 ["'Universal", "Pictures',"],
 ["'Genre", "Films',"],
 ["'Silver", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Heyday", "Films',"],
 ["'DreamWorks", "Animation',"],
 ["'Miramax',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Brad", 'Grey'],
 ["'Columbia", "Pictures',"],
 ["'Universal", "Pictures',"],
 ["'Pacific", 'Data'],
 ["'Atlas", "Entertainment',"],
 ["'DreamWorks", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Square", "Enix',"],
 ["'Nimar", "Studios',"],
 ["'Sony", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Universal", "Pictures',"],
 ["'Gracie", "Films',"],
 ["'Don", 'Simpson/Jerry'],
 ["'Walt", 'Disney'],
 ["'Strong", 'Heart/Demme'],
 ["'Columbia", "Pictures',"],
 ["'Good", "Universe',"],
 ["'Mirage", "Enterprises',"],
 ["'Vincent", 'Newman'],
 ["'Matten", "Productions',"],
 ["'Centropolis", "Entertainment',"],
 ["'Film", "Rites',"],
 ["'Blue", 'Sky'],
 ["'Volcano", "Films',"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ["'PolyGram", 'Filmed'],
 ["'Original", "Film',"],
 ["'Paramount',", "'origin_country':"],
 ["'Waverly", "Films',"],
 ["'Miramax',", "'origin_country':"],
 ["'Marvel", "Studios',"],
 ["'Gordon", "Company',"],
 ["'Paramount',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'TriStar", "Pictures',"],
 ["'Four", 'By'],
 ["'Blue", 'Sky'],
 ["'Pink", "Machine',"],
 ["'Carolco", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'Lightstorm", "Entertainment',"],
 ["'Silver", 'Bullet'],
 ["'K/O", 'Camera'],
 ["'Beijing", 'Enlight'],
 ["'Torridon", "Films',"],
 ["'Wonderland", 'Sound'],
 ["'New", 'Line'],
 ["'Redwave", "Films',"],
 ["'Shinework", "Media',"],
 ["'Atomic", "Monster',"],
 ["'Touchstone", "Pictures',"],
 ["'Luck", 'Road'],
 ["'Jersey", "Films',"],
 ["'Sunswept", "Entertainment',"],
 ["'Universal", "Pictures',"],
 ["'Monkeypaw", "Productions',"],
 ["'Monkeypaw", "Productions',"],
 ["'RCS", "Video',"],
 ["'Arka", 'Media'],
 ["'Universal", "Pictures',"],
 ["'Amblin", "Entertainment',"],
 ["'Touchstone", "Pictures',"],
 ["'Walt", 'Disney'],
 ["'Walt", 'Disney'],
 ['"The', "Donners'"],
 ["'Paramount',", "'origin_country':"],
 ["'Tiger", 'Aspect'],
 ["'Annapurna", "Pictures',"],
 ["'No", 'Such'],
 ["'Warner", 'Bros.'],
 ["'Fox", '2000'],
 ["'Walt", 'Disney'],
 ["'TriStar", "Pictures',"],
 ["'BenderSpink',", "'origin_country':"],
 ["'Haxan", "Films',"],
 ["'Limited", 'Edition'],
 ["'Star", "Overseas',"],
 ["'New", 'Line'],
 ["'Universal", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'Blue", 'Sky'],
 ["'Universal", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Paramount", "Animation',"],
 ["'PolyGram", 'Filmed'],
 ["'Krane", "Entertainment',"],
 ["'5150", "Action',"],
 ["'Tim", 'Burton'],
 ["'Marvel", "Enterprises',"],
 ["'Working", 'Title'],
 ["'Columbia", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Roger", 'Birnbaum'],
 ["'New", 'Line'],
 ["'Columbia", "Pictures',"],
 ["'David", 'Brown'],
 ["'Sony", 'Pictures'],
 ["'Mikona", 'Productions'],
 ["'Paramount',", "'origin_country':"],
 ["'Columbia", "Pictures',"],
 ["'Kopelson", "Entertainment',"],
 ["'Scott", 'Free'],
 ["'Malpaso", "Productions',"],
 ["'New", 'Regency'],
 ["'Original", "Film',"],
 ["'Gordon", "Company',"],
 ["'Screen", "Gems',"],
 ["'Paramount',", "'origin_country':"],
 ["'Walt", 'Disney'],
 ["'Color", "Force',"],
 ["'DC", "Comics',"],
 ["'Dune", "Entertainment',"],
 ["'Jerry", 'Bruckheimer'],
 ["'Robert", 'Stigwood'],
 ["'The", 'Weinstein'],
 ["'Ardustry", "Entertainment',"],
 ["'d-rights',", "'origin_country':"],
 ["'Fox", '2000'],
 ["'Amblin", "Entertainment',"],
 ["'Touchstone", "Pictures',"],
 ["'Chernin", "Entertainment',"],
 ["'Summit", "Entertainment',"],
 ["'Universal", "Pictures',"],
 ["'Columbia", "Pictures',"],
 ["'TSG", "Entertainment',"],
 ["'Bristol", "Automotive',"],
 ["'Dune", 'Entertainment'],
 ["'Loumolo", '&'],
 ["'Ground", "Control',"],
 ["'Mandate", "Pictures',"],
 ["'GK", "Films',"],
 ["'Tiger", 'Aspect'],
 ["'CJ", "Entertainment',"],
 ["'Miramax',", "'origin_country':"],
 ["'Touchstone", "Pictures',"],
 ["'Atomic", "Monster',"],
 ["'Village", 'Roadshow'],
 ["'WV", 'Films'],
 ["'Courtside", 'Seats'],
 ["'Melampo", "Cinematografica',"],
 ["'Chernin", "Entertainment',"],
 ["'Ghostcorps',", "'origin_country':"],
 ["'Crystal", 'Sky'],
 ["'Beijing", 'Mahua'],
 ["'Heyday", "Films',"],
 ["'TriStar", "Pictures',"],
 ["'Silver", "Pictures',"],
 ["'Original", "Film',"],
 ["'Universal", "Pictures',"],
 ["'Huayi", "Brothers',"],
 ["'TriStar", "Pictures',"],
 ["'Virgin", "Produced',"],
 ["'Wintergreen", "Productions',"],
 ["'1492", "Pictures',"],
 ["'Paramount',", "'origin_country':"],
 ["'Miramax',", "'origin_country':"],

In [37]:
updated_comp = []
for item in prod_comp:
    updated_comp.append(' '.join(item))
    
len(updated_comp)

# checking len after creating a new updated_comp

995

In [38]:
master_df.iloc[690:700]

# sanity check on data

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,collection_id,genres_clean
694,701,Hansel & Gretel: Witch Hunters,226349749,55703475,24.6%,170646274,75.4%,2013,tt1428538,50000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",en,16.045,"[[{'id':, 4,, 'logo_path':, '/fycMZt242LVjagMB...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-01-17,88.0,0,'Fantasy'
695,702,Good Will Hunting,225933435,138433435,61.3%,87500000,38.7%,1997,tt0119217,10000000,"[{'id': 18, 'name': 'Drama'}]",en,13.780,"[[{'id':, 14,, 'logo_path':, '/m6AHu84oZQxvq7n...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-12-05,127.0,0,'Drama'
696,703,Valerian and the City of a Thousand Planets,225874228,41189488,18.2%,184684740,81.8%,2017,tt2239822,177200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,18.278,"[[{'id':, 98007,, 'logo_path':, None,, 'name':...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2017-07-20,136.0,0,'Adventure'
697,704,Ford v Ferrari,225398098,117514245,52.1%,107883853,47.9%,2019,tt1950186,97600000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,63.028,"[[{'id':, 25,, 'logo_path':, '/qZCc1lty5FzX30a...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2019-11-13,152.0,0,'Drama'
698,705,Better Days,225320294,1921657,0.8%,223398637,99.2%,2019,tt9586294,0,"[{'id': 18, 'name': 'Drama'}]",zh,4.323,[[]],"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",2019-10-25,135.0,0,'Drama'
699,706,Jumper,225132113,80172128,35.6%,144959985,64.4%,2008,tt0489099,85000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,10.945,"[[{'id':, 444,, 'logo_path':, '/42UPdZl6B2cFXg...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2008-02-13,88.0,0,'Adventure'
700,707,The Social Network,224920315,96962694,43.1%,127957621,56.9%,2010,tt1285016,40000000,"[{'id': 18, 'name': 'Drama'}]",en,17.974,"[[{'id':, 5,, 'logo_path':, '/71BqEFAF4V3qjjMP...","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-10-01,121.0,0,'Drama'
701,708,Chicken Run,224834564,106834564,47.5%,118000000,52.5%,2000,tt0120630,45000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,15.520,"[[{'id':, 521,, 'logo_path':, '/kP7t6RwGz2AvvT...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2000-06-21,84.0,0,'Animation'
702,709,Con Air,224012234,101117573,45.1%,122894661,54.9%,1997,tt0118880,75000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",en,12.249,"[[{'id':, 78338,, 'logo_path':, None,, 'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-06-01,115.0,0,'Action'
703,710,Interview with the Vampire: The Vampire Chroni...,223664608,105264608,47.1%,118400000,52.9%,1994,tt0110148,60000000,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",en,12.909,"[[{'id':, 360,, 'logo_path':, None,, 'name':, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-11-11,123.0,217704,'Horror'

In [39]:
master_df = master_df.drop([698], axis=0)

# removing movie 'better days' where budget and production company values are missing

In [40]:
master_df.iloc[690:700]

# checking if removal worked

,rank,title,worldwide_lifetime_gross,domestic_lifetime_gross,domestic_per,foreign_lifetime_gross,foreign_per,year,imdb_id,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,collection_id,genres_clean
694,701,Hansel & Gretel: Witch Hunters,226349749,55703475,24.6%,170646274,75.4%,2013,tt1428538,50000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",en,16.045,"[[{'id':, 4,, 'logo_path':, '/fycMZt242LVjagMB...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-01-17,88.0,0,'Fantasy'
695,702,Good Will Hunting,225933435,138433435,61.3%,87500000,38.7%,1997,tt0119217,10000000,"[{'id': 18, 'name': 'Drama'}]",en,13.780,"[[{'id':, 14,, 'logo_path':, '/m6AHu84oZQxvq7n...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-12-05,127.0,0,'Drama'
696,703,Valerian and the City of a Thousand Planets,225874228,41189488,18.2%,184684740,81.8%,2017,tt2239822,177200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,18.278,"[[{'id':, 98007,, 'logo_path':, None,, 'name':...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2017-07-20,136.0,0,'Adventure'
697,704,Ford v Ferrari,225398098,117514245,52.1%,107883853,47.9%,2019,tt1950186,97600000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,63.028,"[[{'id':, 25,, 'logo_path':, '/qZCc1lty5FzX30a...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2019-11-13,152.0,0,'Drama'
699,706,Jumper,225132113,80172128,35.6%,144959985,64.4%,2008,tt0489099,85000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,10.945,"[[{'id':, 444,, 'logo_path':, '/42UPdZl6B2cFXg...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2008-02-13,88.0,0,'Adventure'
700,707,The Social Network,224920315,96962694,43.1%,127957621,56.9%,2010,tt1285016,40000000,"[{'id': 18, 'name': 'Drama'}]",en,17.974,"[[{'id':, 5,, 'logo_path':, '/71BqEFAF4V3qjjMP...","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-10-01,121.0,0,'Drama'
701,708,Chicken Run,224834564,106834564,47.5%,118000000,52.5%,2000,tt0120630,45000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,15.520,"[[{'id':, 521,, 'logo_path':, '/kP7t6RwGz2AvvT...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2000-06-21,84.0,0,'Animation'
702,709,Con Air,224012234,101117573,45.1%,122894661,54.9%,1997,tt0118880,75000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",en,12.249,"[[{'id':, 78338,, 'logo_path':, None,, 'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-06-01,115.0,0,'Action'
703,710,Interview with the Vampire: The Vampire Chroni...,223664608,105264608,47.1%,118400000,52.9%,1994,tt0110148,60000000,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",en,12.909,"[[{'id':, 360,, 'logo_path':, None,, 'name':, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-11-11,123.0,217704,'Horror'
704,711,Flightplan,223387299,89707299,40.2%,133680000,59.8%,2005,tt0408790,55000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",en,10.076,"[[{'id':, 9195,, 'logo_path':, '/ou5BUbtulr6tI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-22,98.0,0,'Thriller'

In [42]:
master_df['production_companies_clean'] = updated_comp
master_df['production_companies_clean'].head()

# creating new column with cleaned up names of production companies

0                 'Marvel Studios',
1             'Dune Entertainment',
2    'Paramount', 'origin_country':
3          'Truenorth Productions',
4                 'Marvel Studios',
Name: production_companies_clean, dtype: object

In [44]:
master_df.info()

# sanity check

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 20 columns):
rank                          995 non-null object
title                         995 non-null object
worldwide_lifetime_gross      995 non-null int64
domestic_lifetime_gross       995 non-null int64
domestic_per                  995 non-null object
foreign_lifetime_gross        995 non-null int64
foreign_per                   995 non-null object
year                          995 non-null int64
imdb_id                       995 non-null object
budget                        995 non-null int64
genres                        995 non-null object
original_language             995 non-null object
popularity                    995 non-null float64
production_companies          995 non-null object
production_countries          995 non-null object
release_date                  995 non-null object
runtime                       995 non-null float64
collection_id                 995 non-null object
genres_clean                  995 non-null object
production_companies_clean    995 non-null object
dtypes: float64(2), int64(5), object(13)
memory usage: 163.2+ KB

In [46]:
master_df.to_csv('cleaned_master_df.csv')

# and finally exporting cleaned up data to csv file to begin data analysis and visualisation component